<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Wordpress.utils.BaseClass"/>
      <class name="com.Wordpress.test.LoginPageTest"/>
      <class name="com.Wordpress.test.ProfileLinkPageTest"/>
      <class name="com.Wordpress.test.ProfilePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
